// @import "./../../assets/styles/main.scss";

.input {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  padding: 15px;
  background-color: $bg-input;
  border: 1px solid $trp;
  border-radius: 6px;
  @include font("Quattrocento Sans", 16px, 700, $darkGray);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &--valid {
    border-color: $green;
  }
  &--invalid {
    border-color: $red;
  }
  &:focus~span {
    transform: translateY(-70%);
    font-size: 12px;
  } 
  &__wrapper {
    position: relative;
    height: 45px;
    width: calc((100% - 25px) / 2);
    margin-right: 25px;
    margin-bottom: 25px;
    &:nth-of-type(2) {
      margin-right: 0;
    }
    @media(max-width: 440px) {
      width: 100%;
      margin-right: 0;
    }
  }
  &__placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    color: $gray;
    span {
      position: absolute;
      top: 0;
      left: 0;
      line-height: 100%;
      padding: 15px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
  }
}