// @import "./../../assets/styles/main.scss";

.input {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  padding: 15px 35px 15px 15px;
  background-color: $bg-input;
  border-radius: 6px;
  @include placeholder($gray, 0.7, 16px, "Quattrocento Sans");
  @include font("Quattrocento Sans", 16px, 700, $darkGray);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &--valid {
    .input__icon--valid {
      opacity: 0.7;
    }
    .input__icon--invalid {
      opacity: 0;
    }
  }
  &__wrapper {
    position: relative;
    height: 45px;
    width: calc((100% - 15px) / 2);
    margin-right: 15px;
    margin-bottom: 15px;
    &:nth-of-type(2) {
      margin-right: 0;
    }
    @media(max-width: 440px) {
      width: 100%;
      margin-right: 0;
    }
  }
  &__icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 26px;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    &--valid {
      color: green;
    }
    &--invalid {
      color: red;
    }
  }
}