.section {
  &__team {
    .container {
      padding: 80px 0;
    }
  }
}
.team {
  &__slider {
    height: 450px;
    .slick-list {
      max-width: 1140px;
    }
  }
  &__item {
    width: 265px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      p {
        background-color: $gray;
        span {
          color: $white;
        }
      }
      .team__overlay {
        opacity: 1;
        background-color: rgba(255,255,255,.5);
      }
    }
  }
  &__image-wrapper {
    width: 265px;
    height: 300px;
    position: relative;
  }
  &__dots {
    position: absolute;
    left: 75%;
    li button {
      border: 1px solid $gray;
    }
    li:hover {
      button {
        background-color: $gray;
        border-color: $black;
      }
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  &__text {
    background-color: $lightGray;
    padding: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    span {
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
  }
  &__name {
    display: block;
    @include font("Quattrocento Sans", 22px, 700, $black);
    text-transform: uppercase;
  }
  &__job {
    color: $gray;
  }
  &__social {
    display: flex;
    width: auto;
    a {
      background-color: $gray;
      &:hover {
        background-color: $lightGray;
      }
    }
  }
}
.slider__item--team {
  margin-right: 2px;
}
.slick-active>button { // active dot
  border-color: $gray !important;
  background-color: $gray !important;   
}
