.header {
  width: 100%;
  height: 60px;
  background-color: $bg-header;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    flex-shrink: 0;
  }
  &__nav {
    display: flex;
    flex-direction: row;
  }
  &__nav-item {
    display: block;
    padding: 5px 10px;
    margin-right: 40px;
    border: 2px solid $trp;
    border-radius: 8px;
    color: $lightGray;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      border: 2px solid $gray;
    }
    &--active {
      color: $cyan;
      border-color: $cyan;
    }
  }
}