// @import "./../../assets/styles/main.scss";

.textarea {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  resize: none; 
  padding: 15px;
  background-color: $bg-input;
  border-radius: 6px;
  @include placeholder($gray, 0.7, 16px, "Quattrocento Sans");
  @include font("Quattrocento Sans", 16px, 700, $darkGray);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &--valid {
    .input__icon--valid {
      opacity: 0.7;
    }
    .input__icon--invalid {
      opacity: 0;
    }
  }
  &__wrapper {
    width: 100%;
    height: calc(100% - 120px);
    margin-bottom: 15px;
    position: relative;
    @media(max-width: 440px) {
      height: calc(100% - 180px);
    }
  }
  &__icon {
    top: 20px;
    right: 10px;
  }
}