.section__slider {
  width: 100%;
}
.slider {
  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: $trp;
    cursor: pointer;
    &--next {
      right: 10px;
    }
    &--prev {
      left: 10px;
    }
    i {
      color: $cyan;
      font-size: 32px;
    }
  }
  &__dots {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    li {
      margin-right: 10px;
      &:last-of-type {
        margin-right: 0;
      }
    }
    li button{
      font-size: 0;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      border: 2px solid $cyan;
      background-color: $trp;
      cursor: pointer;
      @include transition(0.3s);
    }
    li.slick-active button {
      background-color: $cyan;
    }
  }
  &__item {
    height: 100%;
    display: flex !important;
    justify-content: space-between;
    margin: 0 auto;
  }
}