@import "./../../assets/styles/main.scss";

.slider {
  &__wrapper {
    height: 100%;
  }
  &__item {
    height: 100%;
    width: 100%;
    position: relative;
    &--team {
      margin-right: 2px;
    }
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      p {
        max-width: 580px;
        @media(max-width: 700px) {
          width: 100%;
          max-width: 100%;
          text-align: center; 
        }
      }
    }
  }
}

.slick {
  &-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  &-prev {
    left: 20px;
  }
  &-next {
    right: 20px;
  }
  &-list {
    height: 100%;
    .slick-loading {
      background: #fff !important;
    }
  }
  &-track {
    height: 100%;
  }
  &-dots {
    width: auto;
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 75%;
    transform: translateX(-50%);
    li {
      list-style-image: none;
      font-size: 0;
      color: transparent;
      margin: 0;
      margin-right: 5px;
      &:last-of-type {
        margin-right: 0;
      }
      &:hover {
        button {
          border-color: $cyan;
        }
      }
    }
    li button {
      width: 10px;
      height: 10px;
      border: 1px solid $white;
      border-radius: 50%;
      background-color: $trp;
      font-size: 0;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:before {
        content: '';
      }
    }
  }
  &-active>button { // active dot
    border-color: $gray !important;
    background-color: $gray !important;    
  }
}

.team {
  &__slider {
    height: 450px;
    width: 100%;
    max-width: 1180px;
    @media(min-width: 1400px) {
      max-width: 1300px; 
    }
    .slick-list {
      width: 100%;
      max-width: 1180px;
      @media(min-width: 1400px) {
        max-width: 1300px; 
      }
    }
  }
  &__dots {
    position: absolute;
    left: 75%;
    li button {
      border: 1px solid $gray;
    }
    li:hover {
      button {
        background-color: $gray;
        border-color: $black;
      }
    }
  }
  &__social {
    display: flex;
    width: auto;
    a {
      background-color: $gray;
      &:hover {
        background-color: $lightGray;
      }
    }
  }
}