body {
  width: 100%;
  @include font("Open Sans", 14, 400, $white)
}
.container {
  height: 100%;
  width: 100%;
  max-width: 1180px; 
  margin: 0 auto;
  padding: 0 20px;
  @media(min-width: 1400px) {
    max-width: 1300px; 
  }
}
.section {
  overflow: hidden;
}
.image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.preloader {
  &__block {
    height: 100vh;
    display: flex;
  }
  &__image-wrapper {
    width: 100px;
    height: 100px;
    margin: auto;
  }
}