$trp: transparent;
$white: #fff;
$black: #292f36;
$cyan: #23b7a4;
$lightGray: #a4aead;
$gray: #5b6168;


$bg-header: #1d2126;
$bg-input: #eaeef1;


$darkGray: #333b46;
$bg-section-lightGray: #f3f3f3;
$bg-facebook: #3b5998;
$bg-twitter: #26a6d1;
$bg-linkedin: #0e76a8;
$bg-instagram: #3f729b;
$bg-vimeo: #86c9ef;
