.contact {
  height: 200px;
  width: 100%;
  background: url("./../img/contact-bg.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title {
    @include font("Source Sans Pro", 20px, 400, $white);
    margin-bottom: 30px;
  }
  &__btn {
    width: 140px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid $white;
    @include font("Open Sans", 16px, 400, $white);
    background-color: $trp;
    cursor: pointer;
    @include transition(0.3s);
    &:hover {
      border-color: $darkGray;
      background-color: $white;
      color: $lightGray;
    }
  }
}