.portfolio {
  background-color: $bg-section-lightGray;
  &__tabs-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    @media (max-width: 420px) {
      flex-direction: column;
    }
  }
  &__tab {
    position: relative;
    @include font("Open Sans", 16px, 400, $darkGray);
    padding-bottom: 10px;
    margin-right: 30px;
    cursor: pointer;
    &:last-of-type {
      margin-right: 0;
    }
    &:before {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      width: 40px;
      background-color: $cyan;
      opacity: 0;
      @include transition(0.3s);
      @media (max-width: 420px) {
        bottom: 5px;
      }
    }
    &:hover:before {
      opacity: 1;
    }
    @media (max-width: 520px) {
      font-size: 14px;
    }
    @media (max-width: 420px) {
      margin-right: 0;
      text-align: center;
    }
  }
  &__tabs-block {
    width: 100%;
    background-color: $bg-section-lightGray;
  }
  &__item {
    width: 25%;
    padding: 0 2px;
    @media (max-width: 915px) {
      width: 33%;
    }
    @media (max-width: 600px) {
      width: 50%;
    }
    @media (max-width: 350px) {
      width: 100%;
    }
  }
}
.section {
  &__title {
    @include font("Source Sans Pro", 20px, 400, $darkGray);
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 40px;
    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }
  &__subtitle {
    width: 60%;
    @include font("Open Sans", 14px, 400, $lightGray);
    line-height: 25px;
    text-align: center;
    margin: 0 auto 85px;
    @media (max-width: 768px) {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}