// @import "./../../assets/styles/main.scss";

.react-parallax {
  height: 100%;
  &-background {
    height: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    &-children {
      width: 100%;
      height: 100%;
    }
  }
  &-content {
    height: 100%;
    .main__parallax-wrapper {
      height: 100%;
    }
  }
}