@import './../../assets/styles/main.scss';
@import './../../assets/styles/components/slider.scss';

.section__main {
  height: 100vh;
}
.main {
  &__title {
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 10px;
    @media(max-width: 700px) {
      font-size: 24px; 
    }
    @media(max-width: 400px) {
      font-size: 18px; 
    }
  }
  &__text {
    font-size: 16px;
    margin-bottom: 10px;
    @media(max-width: 400px) {
      font-size: 14px; 
    }
  }
  &__content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      max-width: 580px;
      @media(max-width: 700px) {
        width: 100%;
        max-width: 100%;
        text-align: center; 
      }
    }
  }
}
.react-parallax {
  height: 100%;
  .react-parallax-bgimage {
    height: 100% !important;
    object-fit: cover;
  }
  .react-parallax-content {
    height: 100%;
    .main__parallax-wrapper {
      height: 100%;
    }
  }
}
.header {
  width: 100%;
  height: 60px;
  background-color: $bg-header;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  @media(max-width: 785px) {
    height: 100px;
  }
  @media(max-width: 650px) {
    height: 60px;
  }
  &--sticky {
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width: 785px) {
      flex-direction: column;
      justify-content: center;
    }
    @media(max-width: 650px) {
      display: flex;
      align-items: flex-start;
      position: relative;
    }
  }
  &__logo {
    flex-shrink: 0;
    @media(max-width: 785px) {
      margin-bottom: 15px;
    }
    @media(max-width: 650px) {
      margin-bottom: 0;
    }
  }
  &__nav {
    display: flex;
    flex-direction: row;
    transition: all 0.5s ease-in-out;
    @media(max-width: 650px) {
      text-align: center;
      flex-direction: column;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%) translateY(100%);
    }
    &--hidden {
      transform: translateX(-50%) translateY(-150%);
    }
  }
  &__item {
    display: block;
    padding: 5px 10px;
    margin-right: 40px;
    border: 2px solid $trp;
    border-radius: 8px;
    color: $lightGray;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      border: 2px solid $gray;
    }
    &--active {
      color: $cyan;
      border-color: $cyan;
    }
    @media(max-width: 1023px) {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
    @media(max-width: 890px) {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
    @media(max-width: 820px) {
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__button {
    font-size: 26px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
    span {
      cursor: pointer;
    }
    &:hover {
      color: $cyan;
    }
    @media(max-width: 650px) {
      opacity: 1;
      pointer-events: all;
    }
  }
}
.hidden {
  transform: translateY(-150%) translateX(-60%);
  opacity: 0;
  pointer-events: none;
}
