.video {
  background: url("./../img/categories/cat-bg.png") 100% 100% no-repeat;
  .container {
    position: relative;
    padding-top: 320px;
  }
  &__title {
    font: 700 36px Cuprum;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  &__slider-wrapper {
    width: 100%;
    overflow: hidden;
  }
  &__slider {
    //width: 100%;
    width: calc(100% + 30px);
    height: 405px;
    // margin-left: -15px;
    overflow: hidden;
    .slick-list {
      padding: 0 !important;
    }
    .slick-list>.slick-track>.slick-slide {
      margin-right: 30px;
    }
  }
  &__slider-item {
    width: 400px;
    height: 100%;
  }
  &__slider-img {
    width: 100%;
    height: 242px;
  }
  &__slider-play {

  }
  &__slider-title {

  }
  &__slider-text {

  }
}
.order {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  position: absolute;
  top: -92px;
  left: 30px;
  &__img-wrapper {
    height: 368px;
    width: 484px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: -3px;
      left: -3px;
      height: 68px;
      width: 68px;
      border-left: 6px solid $green;
      border-top: 6px solid $green;
    }
  }
  &__instruction {
    height: 320px;
    width: calc(100% - 484px - 60px);
    padding-top: 40px;
    background-color: $white;
    box-shadow: 15px 14px 27px -20px $gray;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  &__title {
    font: 700 36px Cuprum;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin-bottom: 41px;
  }
  &__item {
    width: calc(100% / 3);
    padding: 20px;
    position: relative;
    &--light {
      .order__item-text {
        color: $lightGray;
      }
      .order__item-arrow {
        border-color: $lightGray;
        i {
          color: $lightGray;
        }
      }
    }
  }
  &__item-img {
    width: 100px;
    height: 100px;
    margin: 0 auto 30px;
    img {
      object-fit: contain;
    }
  }
  &__item-text {
    width: 100%;
    height: 30px;
    text-align: center;
  }
  &__item-arrow {
    width: 30px;
    height: 30px;
    background-color: $white;
    border: 2px solid $green;
    position: absolute;
    bottom: 14px;
    left: -30px;
    z-index: 1;
    transform: translate(50%, -50%) rotateZ(45deg);
    transition: all 0.3s ease-in-out;
    i {
      font-size: 20px;
      font-weight: 100;
      color: $green;
      position: absolute;
      top: 54%;
      left: 47%;
      z-index: 20;
      transform: translate(-37%, -58%) rotateZ(-45deg);
    }
  }
  &__item-shadow {
    position: absolute;
    bottom: 1px;
    right: 0;
    height: 80%;
    width: 20px;
  }
  &__shadow {
    position: absolute;
    bottom: -20px;
    left: 0;
    height: 20px;
    width: 100%;
  }
}