// @import "./../../assets/styles/main.scss";

.footer {
  background-color: $bg-header;
  min-height: 60px;
  padding: 5px 0;
  .container {
    padding: 0 20px !important; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media(max-width: 765px) {
      flex-direction: column-reverse;
    }
  }
  &__copy {
    @media(max-width: 765px) {
      font-size: 12px;
    }
  }
  &__social {
    display: flex;
    flex-direction: row;
    a {
      background-color: $trp;
      transition: all 0.3s ease-in-out;
      span {
        transition: all 0.3s ease-in-out;
        @media(max-width: 765px) {
          font-size: 18px;
        }
      }
      &:hover {
        background-color: $trp;
        span {
          color: $cyan;
        }
      }
      @media(max-width: 450px) {
        width: 30px;
      }
    }
  }
}