body {
  width: 100%;
  background-color: cyan;
  height: 200vh;
  @include font("Open Sans", 14, 400, $white)
}
.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.button {
  @include button-1(124px, $trp, $white, $cyan, $cyan);
  @include font("Open Sans", 14, 600, $white);
  text-transform: uppercase;
  &__wrapper {
    display: flex;
    &--horizontal {
      flex-direction: row;
      &>button {
        margin-right: 10px;
      }
      &>button:last-of-type {
        margin-right: 0;
      }
    }
    &--vertical {
      flex-direction: column;
      &>button {
        margin-bottom: 10px;
      }
      &>button:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}