body {
  width: 100%;
  background-color: cyan;
  height: 200vh;
  @include font("Open Sans", 14, 400, $white)
}
.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.button {
  @include button-1(124px, $trp, $white, $cyan, $cyan);
  @include font("Open Sans", 14, 600, $white);
  text-transform: uppercase;
}