@import './../../assets/styles/main.scss';

.section {
  &__work {
    position: relative;
    background-color: $white;
    .container {
      padding: 80px 20px;
      @media(max-width: 765px) {
        padding: 30px 20px;
      }
    }
  }
}
.work {
  &__wrapper {
    flex-wrap: wrap;
  }
  &__item {
    min-height: 300px;
    width: calc((100% - 60px)/4);
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:nth-of-type(4n + 4) {
      margin-right: 0;
    }
    @media(max-width: 940px) {
      width: calc((100% - 30px)/4);
      margin-right: 10px;
      margin-bottom: 10px;
      &:nth-of-type(4n + 4) {
        margin-right: 0;
      }
    }
    @media(max-width: 765px) {
      width: calc((100% - 20px)/2);
      margin-right: 20px;
      margin-bottom: 20px;
      &:nth-of-type(2n + 2) {
        margin-right: 0;
      }
    }
    @media(max-width: 430px) {
      width: 100%;
      margin-bottom: 20px;
      min-height: 200px;
    }
  }
  &__icon {
    font-size: 50px;
    line-height: 50px;
    color: $cyan;
    margin-bottom: 50px;
    @media(max-width: 430px) {
      margin-bottom: 20px;
    }
  }
  &__title {
    @include font("Quattrocento Sans", 17px, 700, $darkGray);
    text-transform: uppercase;
    text-align: center;
    line-height: 17px;
    margin-bottom: 25px;
    @media(max-width: 430px) {
      margin-bottom: 15px;
      font-size: 16px;
    }
  }
  &__text {
    text-align: center;
    font-size: 16px;
    color: $lightGray;
    line-height: 1.5;
  }
}