// @import './../../assets/styles/main.scss';

.section__main {
  height: 100vh;
}
.main {
  &__title {
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 10px;
    @media(max-width: 700px) {
      font-size: 24px; 
    }
    @media(max-width: 400px) {
      font-size: 18px; 
    }
  }
  &__text {
    font-size: 16px;
    margin-bottom: 10px;
    @media(max-width: 400px) {
      font-size: 14px; 
    }
  }
  &__content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      max-width: 580px;
      @media(max-width: 700px) {
        width: 100%;
        max-width: 100%;
        text-align: center; 
      }
    }
  }
}